#
# Copyright (c) 2026 by Delphix. All rights reserved.
#

[bumpversion]
current_version = 5.1.0
commit = False
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\.(?P<release>[a-z]+)(?P<dev>\d+))?
serialize = 
	{major}.{minor}.{patch}.{release}{dev}
	{major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = _
first_value = dev
values = 
	dev
	rc
	_

[bumpversion:part:dev]

# Each pyproject.toml's [project].version and sibling-package pins are matched
# by the default {current_version} search; both get updated atomically.
[bumpversion:file:./common/pyproject.toml]

[bumpversion:file:./dvp/pyproject.toml]

[bumpversion:file:./libs/pyproject.toml]

[bumpversion:file:./platform/pyproject.toml]

[bumpversion:file:./tools/pyproject.toml]

[bumpversion:file:./tools/src/test/python/dlpx/virtualization/_internal/test_package_util.py]
search = DVP_VERSION = '{current_version}'
replace = DVP_VERSION = '{new_version}'
