#
# Copyright (c) 2019 by Delphix. All rights reserved.
#

# Non-build Gradle files
.gradle/

# IntelliJ config files
.idea/

# Python egg details. These are outputs of building a Python distribution
*egg-info/

# All build directories
build/

# Compiled Python files
*.pyc

# Activate scripts for virtual environments
activate*

# Python coverage module's metadata
.coverage

# Pipenv virtual env directory
.venv/

# Pytest cache
.pytest_cache/

# Python cache
__pycache__

# Generated protobuf files
*_pb2.py

# Generated python build files
Pipfile
setup.py
