#
# Copyright (c) 2019, 2021 by Delphix. All rights reserved.
#

# IntelliJ config files
.idea/

# IntelliJ module files
*.iml

# Python egg details. These are outputs of building a Python distribution
*egg-info/

# All build directories
build/

# Compiled Python files
*.pyc

# Activate scripts for virtual environments
activate*

# Python coverage module's metadata
.coverage

# Pipenv virtual env directory
.venv/

# Ignore other virtual environments
venv/

# Pytest cache
.pytest_cache/

# Python cache
__pycache__

# .python-version files
*.python-version

# OSX DS Store files
*.DS_Store
