#
# Copyright (c) 2019, 2020 by Delphix. All rights reserved.
#

#
# Until Gradle is removed, unfortunately there are two places the version
# is specified. The build.gradle file in the root contains the version
# that is used when creating a distribution for the package. This
# version is used during dvp runtime. One example of this is displaying
# the version in dvp --version. Another is during dvp build this version
# is used to install the wrappers that are bundled with the plugin.
#
# package_version is the version of the tools package.
# virtualization_api_version is the version of the Virtualization API
# that this version of the SDK is built against. This currently lives
# in tools for ease, but should move to platform, libs, and common
# at some point since those packages are the ones that are actually
# dependent on the Virtualization API.
#
# This package follows semantic versioning.
# More can be read here: https://semver.org/
#
# This package is currently shipped in band with the virtualization.libs
# and virtualization.platform packages. This version should match the
# versions in those packages until they are shipped out of band.
#
[General]
engine_api_version = 1.10.5
package_version = 1.1.0-internal-upgrade-007
virtualization_api_version = 1.1.0
distribution_name = dvp-tools
package_author = Delphix
namespace_package = dlpx
