-i https://artifactory.delphix.com/artifactory/api/pypi/delphix-virtual-pypi/simple/
./../common/build/python-dist/dvp-common-1.0.1-internal-002.tar.gz
enum34==1.1.6 ; python_version < '3.4'
protobuf==3.6.1
six==1.12.0
