bump2version==0.5.11
contextlib2==0.6.0.post1 ; python_version < '3'
enum34==1.1.6
funcsigs==1.0.2 ; python_version < '3.0'
importlib-metadata==0.23 ; python_version < '3.8'
more-itertools==5.0.0 ; python_version <= '2.7'
packaging==19.2
pathlib2==2.3.5 ; python_version < '3.6'
pluggy==0.13.0
py==1.8.0
pyparsing==2.4.5
pytest==4.6.11
scandir==1.10.0 ; python_version < '3.5'
six==1.13.0
zipp==0.6.0
