./../common
./../libs
./../platform
bump2version==1.0.1
coverage==7.10.6
entrypoints==0.4
flake8==7.3.0
httpretty==1.0.5
isort==7.0.0
mccabe==0.7.0
mock==5.2.0
more-itertools==10.7.0
packaging==25.0
pluggy==1.6.0
pycodestyle==2.14.0
pyflakes==3.4.0
pyparsing==3.2.4
pytest-cov==6.2.1
pytest==8.4.1
six==1.16.0
yapf==0.43.0
zipp==3.23.0
