[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "==1.4.2"
mkdocs-material = "==2.9.2"
markdown-include = "==0.8.0"
mkdocs-awesome-pages-plugin = "==2.8.0"

[requires]
python_version = "3.8"

[dev-packages]
