[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "==1.4.3"
mkdocs-material = "==9.1.7"
markdown-include = "==0.8.1"
mkdocs-awesome-pages-plugin = "==2.9.1"

[requires]
python_version = "3.8"

[dev-packages]
